.contenedor{
    font-size: 2rem;
    color: cadetblue;
    align-content: center;
}

body{
    background-color: blueviolet;
    width: 680px;
    height: 1024px;
}

.contenedor{
    font-size: 1.2rem;
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
}

footer{
    align-items: end;
}
